<div id="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.webp", id: "navbar-logo" %>
    <% end %>
  </div>

  <ul class="right-links">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#techs-used">Tech</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
</div>